.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 248, 250);
}

.header {
    padding: 20px;
    border-bottom: 1px solid #ebeef5;
}

.content-container {
    flex: 1;
    padding: 20px;
    height: calc(100vh - 120px);
}

.tab-buttons {
    display: flex;
    height: 32px;
}

.tab-buttons .el-button {
    border: 1px solid #dcdfe6;
    padding: 8px 15px;
    transition: all 0.3s;
}

.tab-buttons .active {
    background-color: #409EFF;
    color: #ffffff;
    border-color: #409EFF;
    box-shadow: 0 2px 4px rgba(64, 158, 255, 0.2);
}

.admin-status {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.el-scrollbar {
    flex: 1;
}

.content-container {
    padding: 20px;
    flex-grow: 1;
}

.logout-container {
    text-align: right;
}